
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #eaeaf2;
  font-family: 'Rubik', sans-serif;
}


body {
  color: #27262b;
  width: 100vw;
  height: 100vh;
  padding: 0 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.recharts-bar-rectangle:nth-child(even) {
  fill: #808ded;
}
.recharts-bar-rectangle:nth-child(odd) {
  fill: #5063ee;
}